body {
  background-color: #fff;
}

.header {
  align-items: flex-start;
}

.header__special {
  position: relative;
  width: 100%;
  height: 243px;
  background-image: url(../assets/img/Patas.svg);
  background-position: right top;
  background-repeat: no-repeat;
  top: -48px;
  right: 0;
}

.main {
  background-image: url(../assets/img/Forma-lado.svg);
  background-repeat: no-repeat;
  background-position-y: 205px;
  min-height: 640px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  margin-bottom: 25px;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737380;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4px;
}

.password {
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 30px;
  left: 123px;
  will-change: background-image;
  transition: background-image 0.4s ease-in-out;
}

.pass__hidden {
  background-image: url(../assets/img/icons/Vector.svg);
}

.pass__open {
  background-image: url(../assets/img/icons/visible.png);
  opacity: 0.4;
}

.main__input {
  width: 312px;
  height: 40px;
  border-radius: 6px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: none;
  text-align: center;
  padding: 7px;
  box-sizing: border-box;
}

.main__input,
select {
  color: #737380;
}

.main__input::placeholder {
  color: #BCBCBC;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main__option {
  font-size: 20px;
  color: #737380;
}

.error__msg {
  font-size: 14px;
  margin-top: 10px;
  color: red;
  display: none;
}

.main__info {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #bdf8e8;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
}

.main__info--msg {
  margin-bottom: 20px;
  margin-top: 20px;
}

.main__info--link {
  color: #FC7071;
}

.main__info--close {
  font-weight: bold;
  color: red;
  align-self: end;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__special {
    background-image: url(../assets/img/icons/Patas2.svg);
    width: 100%;
    height: 374px;
    top: -64px;
    right: 0;
  }

  .main {
    background-image: url(../assets/img/Forma\ 2.svg);
    background-size: 121px;
    background-position-y: center;
    min-height: 844px;
  }
  .main__logo {
    width: 252px;
    margin-top: 85px;
    margin-bottom: 40px;
  }
  .main__label {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 344px;
    height: 40px;
  }
  .main__input::placeholder {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .main__input {
    width: 552px;
  }

  .password {
    left: 211px;
  }

  .main__logo {
    margin-top: 0;
  }

  .main__info {
    padding: 35px;
  }
}

/*# sourceMappingURL=registration.css.map */
