$blue: #3772FF;
$details-dark-grey: #737380;
$details-light-grey: #F7F7F7;

.main {
    background-image: none;
}

.main__title {
    text-align: center;
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 22px;
    display: inline;
}

.card {

    background-color: $details-light-grey;
    box-sizing: border-box;
    min-width: 360px;

    &__contents {
        display: flex;
        width: 340px;
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $blue;
        margin-bottom: 8px;
    }

    &__img {
        margin: 24px 14px;
        max-width: 148px;
    }

    &__details {
        margin-top: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $details-dark-grey;
        width: 160px;
    }

    &__descrip {
        margin-bottom: 30px;
    }

    &__location {
        margin-bottom: 7px;
    }

    &__msg {
        font-size: 10px;
        line-height: 16px;
        text-decoration: none;
        color: $details-dark-grey;
        display: flex;
        align-items: flex-start;
    }

    &__img--msg {
        margin-right: 8px;
    }

    &__edit {
        display: none;
    }

    &__edit--admin {
        display: block;
        height: 20px;
        background-image: url('../assets/img/icons/pen\ \(1\).png');
        background-size: 18px;
        background-repeat: no-repeat;
        margin-left: 80%;
    }

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {

    .main {
        padding-right: 32px;
        padding-left: 32px;
        box-sizing: border-box;
    }

    .main__title--span {
        display: block;
    }

    .main__title {
        margin-top: 132px;
        margin-bottom: 32px;

    }

    .cards {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 60px;
        gap: 16px;
        align-items: inherit;
    }

    .card {

        width: 48%;
        height: 224px;
        max-width: 450px;

        &__details {
            color: #444444;
        }
    }
}

@media screen and (min-width: 1440px) {


    .main {
        padding-left: 160px;
        padding-right: 160px;
        box-sizing: border-box;
        background-image: url(../assets/img/Forma\ 2.svg);
    }

    .main__title {
        margin-top: 47px;
        margin-bottom: 32px;
    }

    .main__title--span {
        display: inline;
    }

    .card {
        width: 31%;
    }
}