$primary-blue: #3772FF;
$details-dark-grey: #737380;
$details-medium-grey: #BCBCBC;
$coral: #FC7071;

body {
    background-color: #fff;

}

.header {
    align-items: flex-start;
}

.header__special {
    position: relative;
    width: 100%;
    height: 243px;
    background-image: url(../assets/img/Patas.svg);
    background-position: right top;
    background-repeat: no-repeat;
    top: -48px;
    right: 0;

}

.main {
    background-image: url(../assets/img/Forma-lado.svg);
    background-repeat: no-repeat;
    background-position-y: 205px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo {
    margin-bottom: 25px;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $details-dark-grey;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 4px;
}

.password {
    background-image: url(../assets/img/icons/Vector.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;

}

.main__input {
    width: 312px;
    height: 40px;
    border-radius: 6px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border: none;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
}

.main__input,
select {
    color: #737380;
}

.main__input::placeholder {
    color: $details-medium-grey;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.main__option {
    font-size: 20px;
    color: #737380;
}

.error__msg {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    display: none;
}

// .email__error,
// .name__error,
// .password__error,
// .confirmPassword__error {
//     display: none;
// }


@media screen and (min-width: 768px) {
    .header__special {

        background-image: url(../assets/img/icons/Patas2.svg);
        width: 100%;
        height: 374px;
        top: -64px;
        right: 0;
    }

    .main {
        background-image: url(../assets/img/Forma\ 2.svg);
        background-size: 121px;
        background-position-y: center;

        &__logo {
            width: 252px;
            margin-top: 85px;
            margin-bottom: 40px;
        }

        &__label {
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 8px;
        }

        &__input {
            width: 344px;
            height: 40px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

}

@media screen and (min-width: 1440px) {

    .main__input {
        width: 552px;
    }

    .password {
        width: 362px;
    }

    .main__logo {
        margin-top: 0;
    }
}